[submodule "src/arms_ros2_control"]
	path = src/arms_ros2_control
	url = git@github.com:fiveages-sim/arms_ros2_control.git
	branch = main
[submodule "src/ocs2_ros2"]
	path = src/ocs2_ros2
	url = git@github.com:legubiao/ocs2_ros2.git
	branch = ros2
[submodule "src/robot-descriptions"]
	path = src/robot-descriptions
	url = git@github.com:fiveages-sim/robot_descriptions.git
	branch = main
